body {
  padding-top: 30px;
  height: 100%;
}

td {
  border: 1px solid #9e1919;
  width: 30px;
  height: 30px;
}

.key {
  border: 1px solid #79d9ce;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
ul {
  list-style-type: none;
}

.btn-space {
  margin-right: 5px;
}

#update {
  margin-bottom: 15px;
  margin-top: 10px;
}

.wall {
  transition: background-color 0.1s ease-in-out;
  background: url(rocks.png);
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}

.none {
  transition: background-color 0.1s ease-in-out;
  background-color: white;
  border-color: #79d9ce;
}

.searching {
  transition: background-color 0.08s ease-in-out;
  background-color: #3ed8be;
  border-color: #3ed8be;
}

.visited {
  transition: background-color 0.08s ease-in-out;
  background-color: #44b5d8;
  border-color: #44b5d8;
}

.success {
  transition: background-color 0.08s ease-in-out;
  background-color: #d0ff00;
  border-color: #e4a736;
}

.start {
  background: url(Rover.png);
  display: block;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}

.end {
  background: url(alien.svg);
  display: block;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}
.end2 {
  background: url(alien.svg);
  display: block;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
}

#bigTableContainer {
  margin-top: 30px;
  background-image: url(mars.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.custom-section {
  margin-bottom: 20px;
}

#modalTitleContainer {
  padding-top: 10px;
}

#results {
  height: 87px;
  width: 120px;
  background-color: #af0d0d;
  position: fixed;
  right: 10px;
  bottom: 10px;
  color: white;
  font-size: 12px;
  text-align: center;
  border: 1px dashed black;
}

#resultsIcon {
  margin-bottom: 3px;
  margin-top: 7px;
  font-size: 16px;
}

#duration,
#length {
  padding: 3px;
}
.fun-fact {
  color: darkgreen;
}
.spinner {
  width: 2em;
}
#weight_option {
  padding-top: 5px;
  padding-left: 20px;
  color: aliceblue;
}
.panel {
  position: fixed;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: default;
}
#instructions_panel {
  top: 70px;
  left: 20px;
  width: 550px;
}

#hide_instructions {
  position: absolute;
  right: 25px;
  top: 10px;
  font-size: 90%;
  cursor: pointer;
}

#hide_instruction:hover {
  color: #fff;
  text-decoration: underline;
}
.white {
  color: #fff;
}

.green {
  color: lightgreen;
}

.red {
  color: #e05f5f;
}
#diagonal {
  padding-top: 8px;
  padding-left: 20px;
  color: aliceblue;
}
input.allow_diagonal {
  width: 20px;
  height: 20px;
}
#corners {
  padding-top: 8px;
  padding-left: 20px;
  color: aliceblue;
}
input.dont_cross {
  width: 20px;
  height: 20px;
}
